@import 'regmixins';

@include reset();


form{
    margin: 2%;
    width: 100%;
    @include display-flex-col();
    background-color: red;

    .personal-info{
        margin: 2%;
        width: 90%;
        @include border();
        @include display-flex-row();
        justify-content: flex-start;
        flex-wrap: wrap;
        //background-color: blue;

        .title{
            margin-top: 0px;
            margin-left: 2%;
            width: 100%;
            @include p-font();

        }


        .name-surname{
            //background-color: yellow;
            margin-left: 2%;
            width: 45%;
            //height: 100px;
            @include display-flex-row();

            .name{
                width: 50%;
                @include display-flex-col();
                align-items: flex-start;
                @include p-font();
                line-height: 5px;
                p{
                    margin-bottom: 10px;
                }
            }

        }

        .passport{
            margin-left: 2%;
            width: 50%;
            @include display-flex-row();
            align-items: flex-start;
            @include p-font();
            line-height: 5px;
            //background-color: green;
            p{
                margin-bottom: 10px;
            }
            

            .pass-nr{
                
                width: 50%;
                @include display-flex-col();
                justify-content: center;
                align-items: flex-start;
                flex-wrap: wrap;
                @include p-font();
                //background-color: gray;

                input{
                    margin-left: 5px;
                }
            }

            .pass-scan{
                width: 50%;
                @include display-flex-col();
                flex-wrap: wrap;
                justify-content: center;
                align-items: flex-start;
                @include p-font();
                //background-color: lightgray;

                input{
                    margin-left: 5px;
                }
            }

        }

        .tel{
            width: 45%;
            margin-left: 2%;
            @include display-flex-row();
            @include p-font();
            justify-content: flex-start;
            align-items: center;
            background-color: blue;

            p{
                width: 100%;
                margin-left: 2%
            }

        }

        .email{
            width: 45%;
            margin-left: 2%;
            @include display-flex-row();
            @include p-font();
            justify-content: flex-start;
            align-items: center;
            background-color: orange;
       
            .email-info{
                margin-bottom: 2%
            }
            input{
                width: 100%;
                margin: 2%
            }

        }
        .address{
            margin-top: 10px;
            width: 100%;
            background-color: pink;
            @include display-flex-row();
            flex-wrap: wrap;
            justify-content: flex-start;
            align-items: center;
            flex-wrap: wrap;
            @include border();

            .title{
                margin-top: 2%;
                margin-left: 2%;
                width: 100%;
                @include p-font();

                p{
                    margin-top: 0px;
                    margin-bottom: 0px;
                }
            }

            .street{
                width: 30%;
                margin-left: 2%;
                @include display-flex-col();
                justify-content: flex-start;
                align-items: flex-start;
            }

            .street-nr{
                width: 10%;
                margin-left: 2%;
                @include display-flex-col();
                justify-content: flex-start;
                align-items: flex-start;
            }

            .floor{
                width: 10%;
                margin-left: 2%;
                @include display-flex-col();
                justify-content: flex-start;
                align-items: flex-start;
            }

            .door{
                width: 10%;
                margin-left: 2%;
                @include display-flex-col();
                justify-content: flex-start;
                align-items: flex-start;
            }

            .zop{
                width: 10%;
                margin-left: 2%;
                @include display-flex-col();
                justify-content: flex-start;
                align-items: flex-start;
            }

            .city{
                width: 30%;
                margin-left: 2%;
                @include display-flex-col();
                justify-content: flex-start;
                align-items: flex-start;
            }

            .country{
                width: 40%;
                margin-left: 2%;
                @include display-flex-col();
                justify-content: flex-start;
                align-items: flex-start;
            }

        }
    }

    .stay{
        margin: 2%;
        width: 90%;
        height: 300px;
        @include border();
        @include display-flex-row();
        background-color: green;
    }

    .certifications{
        width: 90%;
        margin: 2%;
        @include border();
        @include display-flex-row();
        background-color: orange;

    }

    .submit{
        background-color: lightblue;
        box-shadow: 5px 10px #888888;
    }


}

