@import 'vars'; // se puede vincular éste archivo con otros.
@import 'mixins';

// en scss puedo anidar

nav {
    background-color: grey;
    
    .first-list{
        margin: 10px;
        padding: 5px;
        list-style-type: none;
        @include display-fex();

        li{
            display: inline-block;
            padding: 10px;

            &:hover{
                background-color: orange;
            }

           @include font-config(sans-serif, 24px, light);

            // Para el caso de querer usar los valores por defecto
           //@include font-config();
        }
    }
    .other-list{
        @extend .first-list;
        list-style-type: circle;
        color: white;
    }
}

main{
    height: 300px;
    background-color: $secondaryColor;
}