.beer{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 20px;
}

.beer.beer-favourite{
    background: lightblue;
}

.beer img{
    width: auto;
    height: 100px;  
    margin-right: 20px;
}