@mixin display-flex-row(){
    display: -webkit-box; 
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex; 
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin display-flex-col(){
    display: -webkit-box; 
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@mixin header-font(){
    font-family: helvetica;
    font-size: 16px;
    color: white;
}

@mixin p-font(){
    font-family: helvetica;
    font-size: 16px;
    color:black;
}

@mixin h3-font(){
    font-family: helvetica;
    font-size: 18px;
    color:black;
    font-weight: bold;
}


@mixin back-blue(){
    background-color:RGB(69, 135, 261);
}