
@import 'mainmixins';

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}



header{
    width: 100%;

    
    nav{
        padding: 2% 0 2% 0;
        width: 100%;
        @include display-flex-row();
        background-color:RGB(69, 135, 261);


        .nav-left {
            list-style-type: none;
            height: 100%;
            width: 33%;
            margin-left: 5%;
            display: flex;
            align-items: center;
            justify-content: flex-start;

            i{
                color: white;
                font-size: 30px;
            }


        };

        .nav-mid {
            list-style-type: none;
            height: 100%;
            @include display-flex-row();
            width: 33%;

            a{
                @include header-font();
                text-decoration: none;
                font-size: 30px;
            }
        };

        .nav-right {
            list-style-type: none;
            height: 100%;
            width: 33%;
            margin-right: 5%;
            @include display-flex-row();
            justify-content: flex-end;

            i{
                color: white;
                font-size: 30px;
            }

        };
        
    };
};




    .jams{
        height: 92%;
        width: 100%;
        background-color: white;
        @include display-flex-col();

        .single-msg{
            @include display-flex-row();
            height: 35%;
            width: 100%;
            margin-top: 2%;
            border-top: 1px solid lightgray;
            background-color: lightblue;

            .msg-img{
                height: 100%;
                width: 30%;
                img{
                    max-height: 100%;
                    max-width: 100%;
                }
            };

            .msg-cover{
                height: 100%;
                width: 70%;
                padding: 2%;
                overflow: hidden;

                h3{
                    @include h3-font();
                }

                p{
                    @include p-font();
                    overflow: scroll;
                }

                
            }
        }

        .single-msg-read{
            @include display-flex-row();
            height: 35%;
            width: 100%;
            margin-top: 2%;
            border-top: 1px solid lightgray;
            background-color: lightgrey;
            .msg-img{
                height: 100%;
                width: 30%;
                img{
                    max-height: 100%;
                    max-width: 100%;
                }
            };

            .msg-cover{
                height: 100%;
                width: 70%;
                padding: 2%;
                overflow: hidden;

                h3{
                    @include h3-font();
                }

                p{
                    @include p-font();
                    overflow: scroll;
                }
                
            }
        }

}

.msg-preview{
    display: none;
}

