.SingleBeer {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.Pic{
  width: 15%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

img{
  width: auto;
  height: 350px;
}


.BeerInfo{
  display: flex;
  width: 60%;
  flex-direction: column;
  align-self: flex-start;
  margin-left: 2%;
 
}

h2{
  margin: 2%  0% 0% 2%;
}

h4{
  margin: 2%  0% 0% 2%;
}


