* {
    margin: 0;
}

header {
    display: flex;
    background-color: RGB(237, 237, 237);
    border-bottom: 1px solid RGB(218, 135, 0);
    background-image: url(images/headshot.jpg);
    background-position: left;
}

header .name{
    width: 80%;
    background-color: white;
}

header .contact-info {
    width: 10%;
}

body {
    background-color: RGB(234, 234, 234);
}

section{
    display: flex;
    align-items: flex-start;
    background-color: yellow;
    width: 100%;
    border-bottom: 1px solid RGB(222, 222, 222);
    
}

aside {
    margin-top: 1.5%;
    margin-left: 1.5%;
    width: 20%;
    background-color: blue;

}


h4, h5{
    text-align: start;
    font-size: 16px;
}

h4 {
    color: RGB(218, 135, 0)
}

h5{
    font-weight: 600px;
    background-color: blueviolet;
}

h6 {
    margin: 1% 0% 1% 0%;
    font-style: italic;
    font-size: 12px;
}

div {
    width: 80%;
    margin: 1.5% 0% 1.5% 1%;
}
/*
ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 1.5%;
    vertical-align: 50%;
}
*/

#skills{
    width: 40%;
}