@mixin font-config($family, $size, $weight){
    font: {
        family: $family;
        size: $size;
        weight: $weight;
    }
}

/*   EN ESTE CASO ESTOY DEFINIENDO LOS ESTILOS POR DEFECTO 
@mixin font-config($family:sans-serif, $size:24px, $weight:light){
    font: {
        family: $family;
        size: $size;
        weight: $weight;
    }
}

/*   PUEDO USAR LAS VARIABLES  
@mixin font-config($size=$fontSize $family:sans-serif, $weight:light){
    font: {
        family: $family;
        size: $size;
        weight: $weight;
        color=$fontColor
    }
}

*/
@mixin display-flex(){
    display: -webkit-box; 
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex; 
    display: flex;
}